.order-item {
	/* display: flex; */
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(4, 1fr);
	/* justify-content: space-evenly; */
	padding: 1rem 3rem;
	/* background-color: rgb(205, 208, 212); */
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}
.order-item__index {
}
.order-item__delivery-way {
}
.order-item__date {
}
.order-item__total {
}
.order-item__product-name {
}
