<section class="order-page">
	<app-customer-form [formGroup]="customerData"></app-customer-form>

	<h3 class="order-page__buying-title">You're buying</h3>

	<div *ngIf="product$ | async as product" class="product-preview">
		<div class="product-preview__image">
			<img src="{{ product.images[0] }}" alt="" />
		</div>
		<h3 class="product-preview__name">{{ product.name }}</h3>
	</div>

	<form [formGroup]="productData" class="product-form">
		<mat-form-field appearance="outline" floatLabel="always">
			<mat-label>Amount</mat-label>
			<input
				formControlName="quantity"
				min="1"
				[max]="product$.getValue()?.quantity!"
				matInput
				type="number"
				placeholder="1"
				required
				(blur)="updateErrorMessages()"
				(change)="calcTotal()"
			/>
			<mat-error>
				{{ errorMessages().product["quantity"] }}
			</mat-error>
			<span matTextSuffix> / {{ product$.getValue()?.quantity }}</span>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Delivery</mat-label>
			<mat-select formControlName="deliveryWay">
				@for (option of delivery; track option) {
					<mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</form>

	<p class="order-page__total">Total: {{ totalPrice() | currency }}</p>

	<div class="order-page__button">
		<button (click)="onPlaceOrder()" mat-flat-button>Place order</button>
	</div>
</section>
