<section class="order-page">
	<app-customer-form [formGroup]="customerData"></app-customer-form>

	<h3 class="order-page__buying-title">You're buying</h3>

	<div *ngIf="product$ | async as product" class="product-preview">
		<div class="product-preview__image">
			<img src="{{ product.image }}" alt="" />
		</div>
		<h3 class="product-preview__name">{{ product.name }}</h3>
	</div>

	<form
		*ngIf="product$ | async as product"
		[formGroup]="productData"
		class="product-form"
	>
		<mat-form-field appearance="outline" floatLabel="always">
			<mat-label>Amount</mat-label>
			<input
				formControlName="quantity"
				min="1"
				[max]="product$.getValue()?.quantity!"
				matInput
				type="number"
				placeholder="1"
				(blur)="updateErrorMessages()"
				(change)="calcTotal()"
			/>
			<mat-error>
				{{ errorMessages().product["quantity"] }}
			</mat-error>
			<span class="order-page__quantity-count" matTextSuffix>
				/ {{ product$.getValue()?.quantity }}</span
			>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Delivery</mat-label>
			<mat-select formControlName="deliveryWay">
				<mat-option
					(click)="onDeliveryWayChange(option.type, product.deliveryOptions)"
					*ngFor="let option of product.deliveryOptions"
					[value]="option.type"
					>{{ option.type }}</mat-option
				>
			</mat-select>
		</mat-form-field>
		<div>
			<div
				class="order-page__delivery-option-details"
				*ngIf="
					findDeliveryOptionByDeliveryWay(
						productData.get('deliveryWay')!.value,
						product.deliveryOptions
					) as deliveryOption
				"
			>
				<span>Period</span>
				<p>
					{{ deliveryOption.period }}
				</p>
				<span>Price</span>
				<p>
					{{ deliveryOption.price | currency }}
				</p>
			</div>
		</div>
	</form>

	<p class="order-page__total">Total: {{ totalPrice() | currency }}</p>

	<div class="order-page__button">
		<button [disabled]="isLoading()" (click)="onPlaceOrder()" mat-flat-button>
			Place order
		</button>
	</div>
</section>
