<div class="page-header">
	<h2 class="title">Orders</h2>
	<mat-form-field appearance="fill" class="search-input">
		<mat-label>Search</mat-label>
		<input
			matInput
			[formControl]="searchKeywordFilter"
			type="text"
			(keyup)="applyFilter($event)"
			#input
		/>
	</mat-form-field>
</div>

<div>
	<table
		mat-table
		[dataSource]="dataSource"
		matSort
		(matSortChange)="announceSortChange($event)"
		class="mat-elevation-z8"
	>
		<ng-container matColumnDef="position">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by number"
			>
				No.
			</th>
			<td mat-cell *matCellDef="let element; let i = index" data-label="No.">
				{{ i + 1 }}
			</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by name"
			>
				Date
			</th>
			<td mat-cell *matCellDef="let element" data-label="Date">
				{{ element.created_at | date }}
			</td>
		</ng-container>

		<ng-container matColumnDef="product">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by weight"
			>
				Product
			</th>
			<td mat-cell *matCellDef="let element" data-label="Product">
				{{ element.product?.name }}
			</td>
		</ng-container>

		<ng-container matColumnDef="customer">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by weight"
			>
				Customer
			</th>
			<td mat-cell *matCellDef="let element" data-label="Customer">
				{{ element.customer?.name }}
			</td>
		</ng-container>

		<ng-container matColumnDef="price">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by symbol"
			>
				Total
			</th>
			<td mat-cell *matCellDef="let element" data-label="Total">
				{{ element.price | currency }}
			</td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by status"
			>
				Status
			</th>
			<td mat-cell *matCellDef="let element" data-label="Status">
				<span class="status-badge" [ngClass]="getStatusClass(element.status)">
					{{ getStatusLabel(element.status) }}
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="details">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				sortActionDescription="Sort by symbol"
			></th>
			<td mat-cell *matCellDef="let element">
				<a (click)="navigateToOrder(element._id)" class="details-link">
					View
				</a>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<mat-paginator
		#paginator
		[pageSize]="25"
		[length]="10"
		[pageSizeOptions]="[5, 10, 25, 50]"
		aria-label="Select page"
	>
	</mat-paginator>
</div>
