.title {
	font-size: 1.5rem;
}

.page-header {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	padding: 0px 1rem;
}

table {
	width: 100%;
}

.delete-link {
	cursor: pointer;
	color: var(--danger);
}

.details-link:hover {
	text-decoration: underline;
}

th {
	font-size: 1rem;
}

td {
	font-size: 1rem;
}

.mat-mdc-paginator {
	color: var(--gray);
}
.mat-mdc-paginator {
	color: var(--gray);
}

@media screen and (max-width: 600px) {
	.mat-mdc-table {
		border: 0;
		vertical-align: middle;
	}

	.mat-mdc-table .mat-mdc-header-cell {
		display: block;
		font-size: 1rem;
		width: auto;
		border: none;
		height: 100%;
		padding-right: 0;
		padding-left: 0;
		padding-top: 2rem;
	}

	.mat-mdc-table .mat-mdc-header-cell:last-child {
		display: none;
	}

	.mat-mdc-table .mat-sort-header-container {
	}

	.mat-mdc-table .mat-mdc-header-row {
		display: flex;
		padding-left: 1rem;
		align-items: center;
		gap: 0.5rem;
		flex-wrap: wrap;
		height: 100%;
	}

	.mat-mdc-table tr.mat-mdc-row {
	}

	.mat-mdc-table .mat-mdc-cell {
		border-bottom: 1px solid #ddd;
		display: block;
		text-align: right;
		font-weight: bold;
		margin-bottom: 4%;
		width: 100%;
	}

	.mat-mdc-table .mat-mdc-cell:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 0.85em;
	}

	.mat-mdc-table .mat-mdc-cell:last-child {
		border-bottom: 0;
	}

	.mat-mdc-table .mat-mdc-cell:first-child {
		margin-top: 4%;
	}
}
