.products-page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: -30px;
}

.search-input {
	flex-basis: 20%;
}

.filters-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
