.auth-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form__title {
	font-size: larger;
}

.form__toggle-auth-link {
	font-size: normal;
	color: gray;
	cursor: pointer;
}
