.hamburger {
	padding: 4px;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

.closeIcon {
	display: none;
}

.menu {
	position: fixed;
	transform: translateX(-100%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: var(--secondary);
	color: white;
	list-style: none;
	width: 80%;
}

@media screen and (min-width: 800px) {
	.menu {
		width: 40%;
	}
}

@media screen and (min-width: 1200px) {
	.menu {
		width: 20%;
	}
}

.showMenu {
	transform: translateX(0);
}

.menu__link {
	display: block;
	margin: 1rem 4rem;
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
}

.menu__link:hover {
	text-decoration: underline;
}

.menu__title {
	font-size: 1.5rem;
	margin: 2rem 4rem;
	cursor: pointer;
}

.menu__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	padding: 0.2rem;
}

.menu_link_active {
	color: orange;
}
