<div *ngIf="order$ | async as order" class="order-details">
	<div class="order-details__table">
		<h1>Order details</h1>
		<span>date</span>
		<p>{{ order.created_at | date }}</p>
		<span>delivery</span>
		<p>{{ order.deliveryWay }}</p>
		<span>total</span>
		<p>{{ order.price | currency }}</p>
	</div>

	<hr class="solid" />

	<div>
		<p>{{ order.customer.name }}</p>
		<p>{{ order.customer.contactPerson }}</p>
		<p>
			{{ order.customer.street }}, {{ order.customer.city }},
			{{ order.customer.state }}, {{ order.customer.code }}
		</p>
	</div>
</div>
